API_ID=7946647 # get this value from my.telegram.org
API_HASH=3d564ea96a493b54f8aa5ebb3408bb9f # get this value from my.telegram.org
BOT_TOKEN=6063715300:AAF4lLZBi--8xRWm-mPRPkkZyl0S38HyH2A # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://yunus:yunus@cluster0.cpmmfdy.mongodb.net/?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001562771485 # get this value from in your log group 
MUSIC_BOT_NAME=yunus # your music bot name 
STRING_SESSION=pyrogram_string_session # get this value from @yukkistringbot
